.formRow {
    display: inline-block;
    width: 100%;

    label {
        display: block;
        width: 100%;
        text-align: left;
    }

    select {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 24px;
        margin: 12px auto;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #0D1B2A;
        outline: none;
        cursor: pointer;
        text-transform: capitalize;
        height: 60px;
        background: #FFFFFF;
        border: 1px solid rgba(13, 27, 42, 0.1);
        border-radius: 6px;
    }
}