.homeProjects {
    margin: 25px 25px 25px 25px;
    padding: 5px;
    .homeP-sub1 {

        display: flex;
        justify-content: center;
        align-items: center;
        background: #F4FFF6;
        border-radius: 100px;

        nav {


            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;

                li {
                    list-style-type: none;
                    padding: 16px;
                    
                    a  {
                        text-decoration: none;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        color: #0D1B2A;
                    }
                }
            }
        }
    }
}