footer {
    background: #F4FFF6;
    margin: 0px 40px 40px 40px;
    border-radius: 20px;

    .footer {
        margin-left: 60px;
        .foot-sub {
            display: flex;
            flex-direction: row;
            padding-top: 58px;

            div {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 230px;
            }

            .address {
                flex-basis: 400px;
                ul, li {
                    padding: 0;
                    li {
                        list-style-type: none;
    
                        .foot-logo {
                            width: 40px;
                            height: 40px;
                            cursor: pointer;

    
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }

                .add {
                    
                }

                .social {
                    ul {
                         margin: 0;
                         padding: 0;
                         display: flex;
                        li {
                            list-style-type: none;
                            margin: 0;
                            span {
                                padding-right: 30px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            .sub{
                display: flex;
                flex-direction: row;
                flex-basis: 200px;
                .company {
                    p {
                        text-align: left;
                    }
                    ul, li {
                        margin: 0;
                        padding: 0;

                        li {
                            list-style-type: none;
                            margin-top: 12px;

                            a {
                                text-decoration: none;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                color: #0D1B2A;
                            }
                        }
                    }
                }

                .resources {
                    p {
                        text-align: left;
                    }
                    ul, li {
                        margin: 0;
                        padding: 0;

                        li {
                            list-style-type: none;
                            margin-top: 12px;

                            a {
                                text-decoration: none;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                color: #0D1B2A;
                            }
                        }
                    }
                }
            }

            .foot-cont {
                margin-left: 200px;
                p {
                    text-align: left;
                }

                h4 {
                    
                    a {
                        text-decoration: none;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        color: #0D1B2A;
                    }
                }
            }
        }

        .rights {
            padding-bottom: 40px;
        }
    }
}

@media screen and (min-width:600px) and (max-width:1050px) {
    footer {
        margin: 0px 0px 0px 0px;
    
        .footer {
            .foot-sub {
                display: flex;
                flex-direction: column;
                padding-top: 35px;
                margin-left: 50px;
    
                div {
                    flex-basis: 210px;
                }
    
                .address {
                    flex-basis: 250px;
                }
                
                .sub{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    p {
                        font-size: 20px;
                    }

                    a {
                        font-size: 20px;
                    }
                    .company {
                    }

                    .resources {
                        margin-right: 350px;
                    }
                }

                .foot-cont {
                    p {
                        font-size: 24px;
                    }

                    h4 {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .rights {
                margin-left: 50px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width:350px) and (max-width:600px) {
    footer {
        margin: 0px 0px 0px 0px;
    
        .footer {
            .foot-sub {
                display: flex;
                flex-direction: column;
                padding-top: 35px;
    
                div {
                    flex-basis: 200px;
                }
    
                .address {
                    flex-basis: 200px;
                }
                
                .sub{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    .company {
                    }
                }
            }
        }
    }
}

@media screen and (min-width:250px) and (max-width:350px) {
    footer {
        margin: 0px 0px 0px 0px;
    
        .footer {
            margin-left: 20px;
            .foot-sub {
                display: flex;
                flex-direction: column;
                padding-top: 35px;
    
                div {
                    flex-basis: 200px;
                }
    
                .address {
                    flex-basis: 200px;
                }
                
                .sub{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    .company {
                    }
                }
            }
        }
    }
}