@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans&family=Open+Sans&family=Poppins&family=Raleway&family=Recursive:wght@300;400&family=Roboto:wght@400;500;700&family=Salsa&family=Tangerine:wght@700&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: Raleway;
}

html,
body {
    padding: 0;
    margin: 0;
}


html,
body,
#root,
.App,
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 125%;
    color: #0D1B2A;
}


h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #0D1B2A;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: #0D1B2A;
}

h4 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #0D1B2A;
}

p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4%;
    color: #4C5867;
    text-align: center;
}